/* global */
.imgw {
    width: 100%;
}

.text-deco {
    border-bottom: 1px #a7a39a solid;
}

/* global */

/* video */

.video {
    position: relative;
    top: -1px;
}

.video-section {
    background-color: #f3f2f2;
}

/* video */

figcaption {
    text-align: center;
    color: #a7a39a;
    padding: 10px 0;
    background-color: #292b44;
}

.tac {
    padding: 0 10px;
    text-align: center;
}

.big-number {
    font-size: 22.19pt;
    color: #0c0f2d;
}

.month {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10pt;
    color: #8c8380;
}

.table-title {
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 10pt;
    color: #0c0c2f;
}

.table-text {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 10pt;
    color: #0c0c2f;
}

.table-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 6.57pt;
    color: #9e9e9e;
}

.table-content td {
    position: relative;
    padding: 9px 20px;
}

.table-content tr td:nth-child(2n):after {
    content: '';
    position: absolute;
    left: 0;
    top: 23%;
    height: 66%;
    background-color: #dedad8;
    width: 2px;

}

.bad-col-lg-4 {
    position: relative;
    margin-right: -15px;
    padding: 0 0 0 30px;
}

/* the guard */

.center-title {
    text-align: center;
}

.sect-the-guard {
    text-transform: uppercase;
    font-family: "IM Fell English SC", serif;
    color: #a79b93;
    font-size: 1.45em;
    padding-bottom: 4%;
}

.title-news {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 0.875em;
    padding-bottom: 10px;
}

.text-guardian {
    font-family: "Crimson Text", serif;
    font-size: 0.95em;
    color: #706a65;
    padding-top: 12px;
    padding-bottom: 15px;
}

/*events*/
.events {
    background-color: #292b41;
}

.events-proof {
    background-color: #bfc0c6;
    padding: 15px 10px;
}

table.table-events {
    position: relative;
    border-collapse: separate;
    border-spacing: 0 11px;
}

.tb-events-scroll {
    overflow-y: scroll;
    height: 281px;
}

.table-events tr td:nth-child(1) {
    width: 12%;
}

.table-events tr td:nth-child(3) {
    padding: 0 15px;
}

.table-events tr td:last-child {
    padding: 0 15px;
}

.table-events tr td:last-child div {
    text-align: center;
}

.table-events img {
    width: 100%;
    min-width: 98px;
}

.table-events tr {
    background-color: #ffffff;
}

.table-events .text-even {
    width: 28%;
    color: #706a65;
    font-family: "Crimson Text", serif;
    font-size: 0.75em;
    padding: 5px;
}

.table-events button {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.794635em;
    background-color: #303056;
    color: #fff;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    min-width: 100px;
    min-height: 32px;
    padding-top: 2px;
}

.table-events .table-title {
    white-space: nowrap;
}

.events .barocks {
    padding: 11px 0 21px 0;
}

.filter {
    position: relative;
    list-style: none;
    padding: 5px 15px;
}

.filter li a {
    font-size: 8pt;
    color: #0c0c2f;
}

.filter .active:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 7px;
    width: 2px;
    height: 14px;
    background-color: #0c0f2d;
}

.events-year {
    padding: 5px;
    font-size: 13pt;
    font-family: "Open Sans", sans-serif;
    color: #706a65;
}

.table-events tr td{
    position: relative;
}
.table-events tr td:nth-child(3):after {
    content: '';
    position: absolute;
    left: 0;
    top: 12%;
    height: 78%;
    background-color: #dedad8;
    width: 2px;
}

/*events*/