.basket {
    position: fixed;
    top: 83px;
    left: 0;
    width: 27px;
    height: 27px;
    background-color: #c5c1bf;
    z-index: 99999;
    text-align: center;
    padding-top: 3px;
}

.basket img {
    width: 62%;
}

.basket div {
    position: relative;
    top: -24px;
    left: 4px;
    text-align: center;
}

.basket div a {
    font-size: 10pt;
    color: #a79b93;
}

.shop-1-bgc {
    background-color: #f3f2f2;
}

.shop-1-bgc .title {
    padding: 50px 0 20px 15px;
    font-family: "Crimson Text", serif;
    font-size: 28.97pt;
    font-weight: 600;
    color: #0c0c2f;
}

.shop-1-bgc .text {
    padding: 0 0 30px 15px;
    font-family: "Crimson Text", serif;
    font-size: 14pt;
    color: #706a65;
}

.button-my-blue {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.794635em;
    background-color: #303056;
    color: #fff;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    min-width: 100px;
    min-height: 32px;
    padding-top: 2px;
}

.ticket-section {
    background-color: #f3f2f2;
}

.ticket-section .navbar-tabs-custom {
    padding: 10px 0;
}

.ticket-section .tb-events-scroll {
    height: 367px;
}

/* modal */
.modal-content {
    position: relative;
    background-color: #f4f2f2;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    /*border: 1px solid rgba(0,0,0,.2);*/
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-body {
    padding-top: 20px;
    text-transform: uppercase;
}

@media (min-width: 1000px) {
    .my-modal-dialog-size {
        width: 65%;
    }

    .modal-body {
        padding: 40px 25px 20px;
    }
}

.modal-title {
    text-transform: uppercase;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 2.45em;
    line-height: 50px;
    color: #0c0c2f;
}

button.close.my-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    background: #C0BAE3;
    width: 20px;
    height: 20px;
    color: #edebe8;
}

.modal-backdrop {
    background-color: #151619;
}

.modal-backdrop.in {
    filter: alpha(opacity=75);
    opacity: .75;
}

.description {
    text-transform: none;
    font-family: "Crimson Text", serif;
    color: #706a65;
    font-size: 1em;
    padding-top: 20px;
}

.modal-date {
    font-family: "Crimson Text", serif;
    font-size: 1em;
    padding: 22px 0;
}

.modal-place {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 10.75pt;
    padding-bottom: 52px;
}

.modal-place:after {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 0;
    height: 1px;
    width: 80%;
    background-color: #d0cac6;
}

.ticket input.number-ticket-modal {
    width: 100%;
    border: none;
    text-align: center;
    font-size: 1em;
    min-width: 25px;
    height: 25px;
}

.ticket span {
    font-family: "Crimson Text", serif;
    font-size: 12pt;
    color: #8c8380;
}

.ticket {
    padding-bottom: 10px;
}

.modal-body .button-my-blue {
    margin-top: 10px;
    width: 133px;
}

/* modal */

.table-events .check-close {
    border: none;
    display: inline-block;
    text-align: center;
    background: #c5c1bf;
    width: 29px;
    height: 29px;
    color: #fff;
    padding: 5px;
}

.table-events select {
    width: 100%;
    height: 29px;
    background: transparent;
    font-family: "Crimson Text", serif;
    font-size: 1em;
    border: 1px solid #d9d9dd;
}

.table-events td {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 10.75pt;
    color: #9e9e9e;
}

.table-events td.gg {
    font-size: 15.92pt;
}

.table-events tr td.times {
    padding: 0;
    padding-left: 38px;
}

.CHECKOUT-section .tac .big-number {
    font-size: 30pt;
}

.CHECKOUT-section .month {
    font-size: 13pt;
}

.CHECKOUT-section .table-title {
    font-size: 19pt;
}

.CHECKOUT-section .table-events .text-even {
    font-size: 13pt;
    text-transform: uppercase;
}
.CHECKOUT-section table.table-events {
    position: relative;
    border-collapse: separate;
    border-spacing: 0 22px;
}

.CHECKOUT-section tr td{
    position: relative;
    /*border-bottom: 3px dotted #c7c0bb;*/
}

.CHECKOUT-section tr td:after, .CHECKOUT-section tr th:before{
    position: absolute;
    content: '';
    width: 333%;
    border-bottom: 3px dashed #c7c0bb;
    left: -117%;
    bottom: -15px;
    transform: scale(0.3, 0.8);
}
